RewriteEngine on

RewriteRule ^Dashboard dashboard.php [L]

RewriteRule ^Deposit-USDT deposit-usdt.php [L]

RewriteRule ^Staking-USDT staking-usdt.php [L]

RewriteRule ^Today-Buy-Sell today-buy-and-sell.php [L]

RewriteRule ^Insert insert.php [L]

RewriteRule ^Update update.php [L]

RewriteRule ^Delete delete.php [L]

RewriteRule ^Profile profile.php [L]

RewriteRule ^Login index.php [L]

RewriteRule ^Logout logout.php [L]
