RewriteEngine on

RewriteRule ^Dashboard dashboard.php [L]

RewriteRule ^Staking-USDT staking-usdt.php [L]

RewriteRule ^Stake-Update stake-update.php [L]

RewriteRule ^Stake-CNY stake-cny.php [L]

RewriteRule ^Deposit-CNY deposit-cny.php [L]

RewriteRule ^Client client.php [L]

RewriteRule ^Record record.php [L]

RewriteRule ^View-Record view_record.php [L]

RewriteRule ^Insert insert.php [L]

RewriteRule ^Update update.php [L]

RewriteRule ^Delete delete.php [L]

RewriteRule ^Profile profile.php [L]

RewriteRule ^Login index.php [L]

RewriteRule ^Logout logout.php [L]
